{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}
{% block content %}
<div class="container">
    <div class="books-list container-fluid mt-3 mb-3">
    </div>

    <div class="books-list container-fluid mt-3 mb-3">

        <form action="{{ url_for('index') }}" method="get">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" name="name" placeholder="Название">
                <label for="name">Название</label>
              </div>
              
              <div>
                <label>Жанр</label>
                <div>
                  {% for genre in genres %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="genre{{ genre.id }}" name="genre_ids" value="{{ genre.id }}">
                      <label class="form-check-label" for="genre{{ genre.id }}">
                        {{ genre.name }}
                      </label>
                    </div>
                  {% endfor %}
                </div>
              </div>
              
              <div class="mb-3">
                <label for="genre">Год:</label>
                {% for year in years %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="year[]" id="year{{ year }}" value="{{ year }}">
                    <label class="form-check-label" for="year{{ year }}">
                        {{ year }}
                    </label>
                </div>
                {% endfor %}
            </div>
            

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="volume_from" name="volume_from" placeholder="Объём от">
                <label for="volume_from">Объём от:</label>
              </div>
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="volume_to" name="volume_to" placeholder="Объём до">
                  <label for="volume_to">Объём до:</label>
                </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="author" name="author" placeholder="Автор">
                <label for="name">Автор</label>
              </div>
            <button type="submit" class="btn btn-secondary">Найти</button>
            <button type="reset" class="btn btn-secondary">Сбросить фильтры</button>

        </form>
        {% for book in books %}
        <div class="row p-3 border rounded books-list container-fluid mt-4 mb-3 " data-url="{{ url_for('books.show', book_id=book.id) }}">
            {% for image in images %}
            {% if image.id == book.id_image %}
            <img class="w-25 h-25" src="{{ url_for('image', image_id=image.id) }}">
            {% endif %}
            {% endfor %}
            <div class="col-md-9 align-items-center">
                <div class="d-flex">
                    <h4 class="text-uppercase">{{ book.name }}</h4>
                    <p class="ms-auto rating"></p>
                </div>
                <p class="text-muted my-3">{{ book.author }}</p>
                {% for genre in book.genres %}
                {{ genre.name }}{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
                <p class="ms-auto rating">
                </p>
                <p>Кол-во рецензий:</p>
                <p class="text-muted my-3">{{ reviews[loop.index - 1][0] }}</p>

                <p class="ms-auto rating">
                    <span>★</span> <span>{{ "%.2f" | format(reviews[loop.index - 1][1]) }}</span>
                </p>
                <p class="text-muted my-3">{{ book.year }}</p>
                </p>
                <a href="{{ url_for('books.show', book_id=book.id) }}" class="btn btn-primary">Подробнее</a>
                {% if current_user.is_authenticated %}
                {% if current_user.can('edit_book', record=book) %}
                <a class="btn btn-primary" href="{{ url_for('books.edit_book', book_id=book.id) }}">Редактировать</a>
                {% endif %}
                {% if current_user.can('delete', record=book) %}
                <button class="btn btn-danger" data-bs-toggle="modal"
                    data-url="{{ url_for('books.delete_book', book_id=book.id) }}" data-title="{{ book.title }}"
                    data-bs-target="#deleteBook">Удалить</button>
                {% endif %}
                {% endif %}


                <!-- Modal -->
                <div class="modal fade" id="deleteBook" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Удаление книги</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Вы уверены, что хотите удалить книгу <span id="bookName"></span>?</p>
                                <form id="deleteBookForm" method="POST"
                                    action="{{ url_for('books.delete_book', book_id=book.id) }}">
                                    <input type="submit" id="deleteBookButton" style="display: none;">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <label for="deleteBookButton" class="btn btn-danger">Удалить</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% endfor %}

        <div class="mb-5">
            {{ render_pagination(pagination, request.endpoint, search_params) }}
        </div>
    </div>


    {% if current_user.is_authenticated %}
    {% if current_user.is_admin() %}
    <div class="text-center my-3">
        <a class="btn btn-lg btn-dark" href="{{ url_for('books.add_book') }}">Добавить книгу</a>
    </div>
    {% endif %}
    {% endif %}

    <script src="{{ url_for('static', filename='book.js') }}"></script>

</div>
{% endblock %}